extends layout

block content 
  
  body(class="body-bkimg")
      h1 :D
  
    button(class="button-index")
      a(href="/auth/facebook",title="Login with facebook") Login with Facebook ! 

    p(class="p1") Welcome to Localhost:3000 :)

   

   
  