extends layout

block content
 
  body(class="body-bkimg")
    div(class="dash")
        h1 Dashboard

  

        h1.
            hello this is google oauth working , thank you !     
        

        a(href="/logout",class="logout") Logout !
    form(action="http://localhost:3000/upload",method="POST",id="uploadform",ref="uploadform", enctype="multipart/form-data")
        input(type="file",name="filedash",accept=".pdf,.doc,docx",required)
        br
        input(type="submit",name="Upload !")

       

  